parameters:
    secret_key:        SecretToken
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     accessibility-barriers
    database_user:     root
    database_password: rootpassword
    mailer_transport:  smtp
    mailer_host:       poczta.o2.pl
    mailer_port:       465
    mailer_user:       ~
    mailer_password:   ~
    image_directory:  '%kernel.root_dir%/../web/uploads'
    image_url:        'http://accessibility-barriers.dev/uploads'
    google_api_key:    AIzaSyBa2R3pHwAlhWLxNFp7mGTDV-yke_WBMvQ